body {
	font-family: Roboto;
	background: #F0C27B; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #F0C27B , #4B1248); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #F0C27B , #4B1248); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
	background: #2980b9;
	color: white;
	margin: 0;
	padding: 10px 20px;
	font-size: 24px;
	font-weight: normal;
}

input {
	font-size: 18px;
	color: #2980b9;
	background-color: #F7F7F7;
	width: 100%;
	padding: 13px 13px 13px 20px;
	border: none;
	box-sizing: border-box;
}

input:focus {
	background: #fff;
	border: 3px solid #2980b9;
	outline: none;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	background: #fff;
	height: 40px;
	line-height: 40px;
	color: #666;
}

li:nth-child(2n) {
	background: #F7F7F7;
}

span {
	background: #e74c3c;
	height: 40px;
	width: 0;
	display: inline-block;
	margin-right: 20px;
	text-align: center;
	color: white;
}

li:hover span {
	width: 40px;
	transition: width 0.3s linear;
}

.fa-plus {
	float: right;
}

.completed {
	color: gray;
	text-decoration: line-through;
}

#container {
	width: 360px;
	margin: 100px auto;
	background: #F7F7F7;
	box-shadow: 0 0 3px rgba(0,0,0,0.3);
}